.cardProcess {
  /* display: initial;
  width: 335px;
  background: white;
  border-top: 10px solid #1E5280;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px; */
}
.cardProcess:hover {
  transform: scale(1.20);
  display: initial;
  background: #F2F6FA;
  border: 5px solid #1E5280;
  border-radius: 20px;
  text-align: center;
  }

@media (max-width: 750px) {
  .cardProcess {
    margin-top: 0px;
  }
}